@model AnimeTitlesApp.Models.Data.AnimeTitle

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AnimeTitle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="OrigName" class="control-label"></label>
                <input asp-for="OrigName" class="form-control" />
                <span asp-validation-for="OrigName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TitleName" class="control-label"></label>
                <input asp-for="TitleName" class="form-control" />
                <span asp-validation-for="TitleName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="YearOfIssue" class="control-label"></label>
                <input asp-for="YearOfIssue" class="form-control" />
                <span asp-validation-for="YearOfIssue" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Descr" class="control-label"></label>
                <input asp-for="Descr" class="form-control" />
                <span asp-validation-for="Descr" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Poster" class="control-label"></label>
                <input asp-for="Poster" class="form-control" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CountSeries" class="control-label"></label>
                <input asp-for="CountSeries" class="form-control" />
                <span asp-validation-for="CountSeries" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsComplete" /> @Html.DisplayNameFor(model => model.IsComplete)
                </label>
            </div>
            <div class="mb-3">
                <label asp-for="Studio" class="control-label"></label>
                <input asp-for="Studio" class="form-control" />
                <span asp-validation-for="Studio" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="IdAnimeTitle" class="control-label"></label>
                <select asp-for="IdAnimeTitle" class="form-control" asp-items="ViewBag.IdAnimeTitle"></select>
                <span asp-validation-for="IdAnimeTitle" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
